@import '~styles/settings/settings';

.checkbox {
  display: inline;
  align-items: center;
  padding-left: rem-calc(10);
  &__input {
    margin-right: $rem-sm;
  }
  &__label {
    text-transform: none;
    font-weight: normal;
    font-size: $fs-mn;
    line-height: rem-calc(14);
    user-select: none;
  }
}

