@import '~styles/settings/settings';

.footer {
  background-image: linear-gradient(-55deg, #00b3e3 0%, #46c2cb 100%);
  padding-top: $rem-xl;
  padding-bottom: $rem-xl;
  svg {
    fill: white;
  }
  &__topLine {
    margin-bottom: $rem-xl;
    padding-bottom: $rem-md;
    @include border($white);
  }
  &__logoContainer {
    @include breakpoint(large) {
      min-width: 250px;
    }
  }
  &__logo {
    margin-bottom: $rem-lg;
    color: $white;
  }
  &__socials {
    list-style: none;
    margin: 0;
    padding: 0;
    // display: flex;
    align-items: center;
  }
  &__socialItem {
    display: inline-block;
    color: $white;
    margin-right: $rem-sm;
  }
  &__menuContainer {
    @include breakpoint(large) {
      justify-content: space-around;
    }
    @include breakpoint(small only) {
      padding-top: $rem-md;
    }
  }
  &__menu {
    margin: 0 0 $rem-md;
    padding: 0;
    list-style: none;
  }
  &__menuItem {
    color: $white;
    text-decoration: none;
    font-size: $fs-sm;
    font-weight: bold;
    text-transform: capitalize;
  }
  &__menuButton {
    line-height: rem-calc(10);
    border: rem-calc(1) $white solid;
    border-radius: $button-radius;
    padding: rem-calc(10);
    margin-bottom: rem-calc(10);
    width: rem-calc(175);
    text-align: center;
    a {
      text-decoration: none;
      color: $white;
    }
  }
  &__copy {
    font-size: $fs-tn;
    color: $white;
    font-weight: bold;
    &--item {
      margin: rem-calc(0) $rem-md;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__terms {
    color: $white;
    text-decoration: none;
  }
  &__menuTitle {
    color: $white;
    text-decoration: none;
    font-weight: bold;
    font-size: rem-calc(15);
    text-transform: uppercase;
  }
}
