@import '~styles/settings/settings';

.filter {
  padding-top: $rem-xl;
  padding-bottom: $rem-md;
  margin-bottom: $rem-xl;
  background-color: $lighter-gray;
  @include breakpoint(small only) {
    padding-top: $rem-sm;
    padding-bottom: $rem-sm;
    margin-bottom: 0;
  }
  &__label {
    line-height: $rem-xl;
    font-size: $fs-tn;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__toggle {
    width: 122px;
    @include breakpoint(small only) {
      width: 50px;
      padding: $rem-tn;
    }
  }
  &__topItem {
    margin-bottom: $rem-md;
    @include breakpoint(small only) {
      margin-bottom: 0;
    }
  }
  &__bottom {
    margin-top: $rem-md;
    margin-bottom: $rem-md;
    padding-top: $rem-md;
    @include border($light-gray, top);
  }
}
