@import '~styles/settings/settings';

@import 'rangeslider';

.rangeSlider {
  width: 100%;
  display: flex;
  vertical-align: middle;
  padding: $rem-sm $rem-sm;
  &__label {
    display: inline-block;
    width: $rem-md;
    line-height: 29px;
    vertical-align: top;
    &--right {
      text-align: right;
      margin-left: $rem-sm;
    }
  }
  &__slider {
    display: inline-block;
    width: calc(100% - 40px);
  }
}
